.news-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  background: #fafafa;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.news-image {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}
.recent {
  border-color: #28a745;
  background-color: #e9fbe9;
}

.old {
  border-color: #ccc;
  background-color: #f9f9f9;
}

.recent-label {
  color: #28a745;
  font-weight: bold;
}

.old-label {
  color: #999;
  font-style: italic;
}
.actual {
  color: green;
  font-weight: bold;
}

.not-actual {
  color: gray;
  font-style: italic;
}
