<header class="header">
  <h1>{{ appTitle }}</h1>
</header>

<header></header>
<div class="container">

  <div class="search-box">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchText"
    />
  </div>

  <h1>News List</h1>

@for (item of filteredItems(); track item.id) {
  <app-news-item-card
    [item]="item"
    (select)="onItemSelected($event)"
  ></app-news-item-card>
}
</div>


<footer></footer>

<footer class="footer">
  <p>IT-news for beginners</p>
</footer>
<router-outlet />
