<header class="header">
  <h1>{{ appTitle }}</h1>
</header>

<header></header>
<div class="container">
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="onSearchChange()"
      placeholder="Search..."
      class="search-bar"
    />

    <button (click)="onSearchChange()" class="search-button">
      Search
    </button>
  </div>
  <h1>News List</h1>
  <div class="container">
    @for (item of newsItems; track item.id) {
      <app-news-item-card [item]="item"></app-news-item-card>
    }
  </div>
</div>

<footer></footer>

<footer class="footer">
  <p>IT-news for beginners</p>
</footer>
<router-outlet />
