<div class="auth-container">
  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input type="email" formControlName="email" />

    @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
      <span class="error">Valid email is required</span>
    }

    <label>Password</label>
    <input type="password" formControlName="password" />

    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
      <span class="error">Password is required</span>
    }

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" />

    @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
      <span class="error">Confirmation is required</span>
    }
    <button type="submit" [disabled]="registerForm.invalid">
      Register
    </button>
  </form>
  <p class="switch">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>
